nav{
    position: absolute;
    top: 10%;
    background-color: rgb(200, 200, 200, 0.9);
    z-index: 100000000;
}
nav ul {
    display: inline-block;
    padding: 10px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
