@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: Open Sans, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.all-content {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
}

header {
  width: 100%;
  position: relative;
  background-image: url('/img/header.png');
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
#titre{
    font-size: 2.5em;
    display: inline;
    opacity: 0.8;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    /* background-color: #B87845; */

}

footer {
  background-color: #B87845;
  opacity: 0.7;
  display: flex;
  justify-content: space-around;
}

#auth_buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

#auth_buttons a {
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  box-shadow: 1px 1px 5px black;
  transition: box-shadow ease-in-out 0.25s;
  transition: background-color ease-in-out 0.5s;
}

#auth_buttons a:hover {
  box-shadow: 1px 1px 10px black;
  background-color: #EEE;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 10000000000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  padding: 20px;
  border: 1px solid #888;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#map-module{
  margin: 10px;

}

#preview {
  height: 77%;
  width: 50%;
  float: left;
  margin-bottom: 0px;
}

footer{
  clear:left;
}

#menu{
  display : flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

.card{
  padding : 5px;
  margin :  5px;
  border : solid 1px lightgray;
  background: #FFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  float: left;
  height: 98%;
  flex-basis: 50%;
  overflow: scroll;
}
.card:nth-child(1){
  flex:1;
}

.card:nth-child(2){
  flex:1;
}

#menu ul{
  padding : 0;
  margin :  0;
}
li{
  padding : 5px;
  margin : 1px  3px;
  margin-left: 0px;
  background: #FFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  list-style-type: none;
}
